<div class="container">
    <div class="row">
        <h1 class="page-header">Update Kategori</h1>
        <!-- Menampilkan Error Pada Penginputan-->
        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>

    </div>
</div>


<form method="POST" action="/setting-category/update" class="mt-4">
    <div class="mb-3">
        <input type="hidden" name="oldCategory" value="<%= category.oldCategory || category.title_category %>">
        <%= category.title_category %>
        <label for="title_category" class="form-label">Kategori</label>
        <input type="text" class="form-control" id="Title" aria-describedby="Title" name="title_category"
            placeholder=" judul category" value="<%= category.title_category %>" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
</div>