<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../image/<%= users.image %>" alt="image" class="img-thumbnail rounded-circle" width="200px">
            <h1><%= users.username %> </h1>
            <h5><%= users.nama %> </h5>
            <p>IT Support</p>
        </div>
    </div>
</div>